.center_div {
    display: inline-block;
}

#frame1_2 {
    border: 3px dotted;
    /* TODO - Set the width and height of the iframes */
    width: 50em;
    height: 30em;
    margin-right: 5%;
    margin-top: 5%;
}

#frame3 {
    /* TODO - Set the width and height of the iframes */
    width: 50em;
    height: 30em;
    margin-top: 5%;
}